.artist-card{
    border-radius: 22px;
    padding: 16px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    &:hover{
        background: #282828;
    }
    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .artist-type{
        color: #a7a7a7;
        text-transform: capitalize;
        margin: 0;
        text-align: initial;
    }
}